/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------------------------- */
/* LINKS */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 30px 0;
}

.section-dark {
    background-color: #f4f4f4;
}

h1,
h2,
h3 {
    font-weight: 300 !important;
    text-transform: uppercase !important;
}

h1 {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    color: #fff !important;
    font-size: 240% !important;
    word-spacing: 4px !important;
    letter-spacing: 1px !important;
    text-align: center;
}

h1:after {
    display: block;
    height: 2px;
    background-color: #fff;
    content: " ";
    width: 300px;
    margin: 30px auto 0;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 1px;
    background-color: #1C70A0;
    content: " ";
    width: 750px;
    margin: 30px auto 0;
}


.sub-title {
    color: #fff;
    font-size: 90%
}

.sub-title:after {
    display: none;
}

.location {
    font-weight: 350;
}

li .location-icon {
    color: #1C70A0;
    padding-right: 7px;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/code-blur.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.title-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Main navi */
.main-nav {
    list-style: none;
    padding-top: 30px;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    margin-left: 25px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 75%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #1C70A0;
}

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

.mobile-nav-icon i {
    font-size: 150%;
    color: #fff;
}

/* ----------------------------------------------- */
/* ABOUT ME
/* ----------------------------------------------- */
.profile-pic-col {
    text-align: right;
}

.profile-pic {
    height: 200px;
}

.profile-body {
    font-weight: 350;
    font-size: 85%;
    color: #182153;
}

.contact-key {
    font-size: 16px;
    font-weight: 500;
}

.contact-items {
    font-size: 16px !important;
}
.contact-items a:link {
    font-size: 16px;
}

.about-social-links {
    list-style: none;
    float: left;
}

.about-social-links li {
    display: inline-block;
    margin-right: 10px;
}

.about-social-links li:last-child {
    margin-right: 0;
}

.about-social-links li a:link,
.about-social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #969696;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}


/* ----------------------------------------------- */
/* SECTION-EXPERIENCE #1C70A0 strip=#182153*/
/* ----------------------------------------------- */
.sub-list li {
    padding-top: 3px;
    list-style: none;
}

.left-col ul li {
    font-size: 18px;
    float: left;
    list-style: none;
    font-weight: 600;
    color: #182153;
}

.left-col ul li span {
    font-weight: 300;
    float: left;
    padding-top: 3px;
    font-size: 16px;
}

.right-col {
    font-weight: 600;
    color: #182153;
    font-size: 90%
}
/*.right-col li {*/
/*    font-weight: 350;*/
/*    font-size: 20px;*/
/*}*/

.right-col li span {
    font-weight: 350;
    font-size: 16px;
}

/* ----------------------------------------------- */
/* Skills*/
/* ----------------------------------------------- */
.skill-block {
    text-align: center;
}

.skill-container {
    max-width: 1000px !important;
}

.col-4 {
    margin-top: 40px;
}

.col-md-2 {
    margin-top: 40px;
}

.skill-icon {
    height: 75px;
}

/* ----------------------------------------------- */
/* FOOTER*/
/* ----------------------------------------------- */
footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #969696;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #969696;
    padding-bottom: 5px;
    border-bottom: 1px solid #1C70A0;

}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.linkedin-icon:hover {
    color: #0e76a8;
}

.github-icon:hover {
    color: #000000;
}